body {
  margin: 0px;
  padding: 0px;
  background-color: #212529;
  color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
nav img {
  width: 94px;
}
nav .nav-items {
  display: flex;
  gap: 15px;
}
nav .nav-items button {
  background: none;
  border-style: none;
}
nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: gray;
}

article {
  width: auto;
  color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
article p {
  font-size: 1.5em;
}
article button {
  border-style: none;
  background-color: #952323;
  width: 12vw;
  padding: 20px;
  border-radius: 35px;
  color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
article button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}
article img {
  width: 50vw;
  border-radius: 19px;
}

.records {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.records iframe {
  width: 66%;
  height: 100%;
  border: none;
}

section {
  width: auto;
  height: auto;
  padding: 40px;
}
section h2 {
  color: #F2E8C6;
  font-size: 2em;
}
section .enfoques, section .actividades {
  padding-bottom: 10px;
}
section .enfoques h2, section .actividades h2 {
  font-weight: 300;
  padding-bottom: 30px;
}
section .enfoques .card-section, section .actividades .card-section {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
section .enfoques .product-card, section .actividades .product-card {
  width: 13vw;
  height: auto;
  background-color: #952323;
  color: #F6F6F6;
  padding: 20px;
  border-radius: 5px;
}
section .enfoques .product-card .icon, section .actividades .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .enfoques .product-card .icon svg, section .actividades .product-card .icon svg {
  width: 36px;
  height: 36px;
  stroke: #F2E8C6;
}
section .enfoques .product-card .product-image, section .actividades .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .enfoques .product-card .product-image img, section .actividades .product-card .product-image img {
  padding-top: 2vh;
  width: 18vw;
  height: 16vh;
  object-fit: cover;
  border-radius: 6px;
}
section .actividades .product-card {
  background-color: rgba(0, 0, 255, 0.5568627451);
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 20px;
}
.about-us .mision-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mision-section .lion, .about-us .mision-section .lions {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #ea7070;
}
.about-us .mision-section .lion img, .about-us .mision-section .lions img {
  object-fit: contain;
}
.about-us .mision-section .lion p, .about-us .mision-section .lions p {
  text-align: center;
  font-size: 20px;
}

.gallery {
  padding-bottom: 60px;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 20px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  object-fit: cover;
  width: 28vw;
  height: 45vh;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.location {
  color: #ea7070;
  padding-bottom: 50px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
.location h3 {
  font-size: 1.5em;
}
.location p {
  font-size: 1.5em;
}

footer {
  background-color: #952323;
  width: auto;
  height: auto;
  color: #F6F6F6;
  padding: 40px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}/*# sourceMappingURL=main.css.map */