//General styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

//Variables
$logo-color: #ff0000;
$bg-color: #212529;
$title-color: #F2E8C6;
$secondary-color: #952323;
$text-color: #F6F6F6;
$font-stack: 'Montserrat', sans-serif;
$paragraph-size: 1.6rem;

// Mixins
@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

@mixin cleanFormat {
    text-decoration: none;
    font-size: $paragraph-size;
    color: gray;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-stack;

    a {
        @include cleanFormat();
    }
}

nav {
    @include flexCenter(row, flex-end, flex-end);
    padding: 2.4rem;
    margin: 2rem 0;
    overflow: hidden;

    .logo {
        width: 9rem;
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
    }

    a {
        display: none;
    }

    a.icon {
        @include cleanFormat();
        display: block;
        font-size: 3.3rem;
        align-self: start; //THE KEY
        padding-left: 2.4rem;
    }

    .responsive {
        @include flexCenter(column, flex-end, flex-end);
        gap: 15px;

        a {
            @include cleanFormat();
            display: inline-block;
        }
    }
}

article {
    @include flexCenter(column, space-between, flex-start);
    padding: 2.5rem;

    .image-section {
        align-self: center;

        img {
            max-width: 32rem;
            border-radius: 19px;
        }

        &:hover {
            transform: scale(1.01);
            transition-duration: 0.5s;
        }
    }

    .impact-section {
        @include flexCenter(column, space-between, center);
        padding-top: 3rem;
        align-self: center;

        h1 {
            font-size: 3em;
            color: $logo-color;
            text-align: center;
        }

        p {
            font-size: $paragraph-size;
            text-align: center;
        }

        @include buttonStyle();

        button {
            margin: 4rem 0;

            a {
                padding: 2rem;
                color: $text-color;
                background-color: $secondary-color;
                font-family: $font-stack;
                border-radius: 3rem;
                font-size: 1.3rem;
            }

            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
                cursor: pointer;
            }
        }
    }
}

.records {
    width: 100%;
    height: 100vh;
    text-align: center;

    iframe {
        width: 66%;
        height: 100%;
        border: none;
    }
}

section {
    padding: 2.5rem;

    h2 {
        color: $title-color;
        font-size: 2em;
    }

    .enfoques {
        h2 {
            font-weight: bold;
            padding: 3rem 0 1rem 0;
        }

        .card-section {
            @include flexCenter(row, space-evenly, center);
            flex-wrap: wrap;
            gap: 1rem;
        }

        .product-card {
            background-color: $secondary-color;
            color: $text-color;
            border-radius: 0.5rem;
            padding: 2rem 1rem;
            max-width: 15rem;
            font-size: 1.5rem;


            .product-image {
                @include flexCenter(row, center, center);

                img {
                    padding: 0.5rem 0 1.5rem 0;
                    width: 12rem;
                    height: 10rem;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
    }

    // .actividades {
    //     @extend .enfoques;

    //     .product-card {
    //         background-color: #0000ff8e;
    //     }
    // }
}

.about-us {
    h2 {
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .mision-section {
        @include flexCenter(column, center, center);

        .lion,
        .lions {
            //.earth, .innovation
            @include flexCenter(row, center, center);
            gap: 5rem;

            img {
                width: 12rem;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                    transition-duration: 0.3s;
                }
            }

            p {
                text-align: start;
                font-size: 1.5rem;
            }
        }
    }
}

.gallery {
    padding: 2.5rem 0;

    h2 {
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .gallery-images {
        @include flexCenter(row, space-between, center);
        flex-wrap: wrap;

        img {
            object-fit: cover;
            width: 10rem;
            height: 20rem;
            border-radius: 1.5rem;

            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
        }
    }
}

.location {
    padding: 2.5rem 0;

    h2 {
        padding-bottom: 1rem
    }

    .map {
        @include flexCenter(row, space-evenly, center);
        padding-bottom: 1rem;

        img {
            width: 30rem;
        }
    }

    h3 {
        font-size: $paragraph-size;
    }

    p {
        font-size: $paragraph-size;
    }
}

footer {
    @include flexCenter(column, space-between, flex-start);
    background-color: $secondary-color;
    color: $text-color;
    padding: 2rem;
    padding-bottom: 0;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;

    img {
        width: 9rem
    }

    .social-media {
        @include flexCenter(row, center, center);

        .contact {
            p {
                padding-bottom: 1rem;
            }

        }

        a {
            @include cleanFormat();

            i {
                font-size: 3rem;
                color: $text-color;
            }
        }

        gap: 2rem;
    }

    .mail-info {
        align-self: center;

        a {
            color: $title-color;
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 700px) {
    nav {
        .nav-items {
            @include flexCenter(row, flex-end, flex-end);
            padding-right: 5rem;
            gap: 15px;

            a {
                @include cleanFormat();
                display: inline-block;
                font-size: 2rem;
            }

            a:hover {
                background-color: $title-color;
                color: $bg-color;
                border-radius: 0.5rem;
            }
        }

        a.icon {
            display: none;
        }
    }

    article {
        @include flexCenter(row-reverse, space-evenly, center);
        padding: 0 5rem;
        gap: 1rem;

        img {
            min-width: 42rem;
        }

        .impact-section {
            @include flexCenter(column, center, flex-start);
            gap: 2rem;

            h1 {
                font-size: 3.8rem;
                color: $logo-color;
                text-align: center;
            }

            p {
                font-size: 1.6rem;

                span:hover {
                    color: #952323;
                    transform: scale(1.01);
                    transition-duration: 0.5s;
                }
            }

            button {
                align-self: center;

                a {
                    border-radius: 3rem;
                    font-size: 1.6rem;
                }

                &:hover {
                    transform: scale(1.1);
                    transition-duration: 0.3s;
                    cursor: pointer;
                }
            }
        }


    }

    section {
        .product-image {
            img {
                width: 15rem;
                height: 12rem;
            }
        }
    }

    .about-us {
        padding: 2.5rem;

        .mision-section {
            @include flexCenter(row, space-between, center);
            gap: 3rem;

            .lion,
            .lions {
                gap: .5rem;
                color: #ea7070;

                img {
                    object-fit: contain;
                    width: 20rem;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }

    .gallery {
        padding: 2.5rem;

        .gallery-images {
            img {
                width: 22rem;
                height: 30rem;
            }
        }
    }

    .location {
        padding: 2.5rem;

        h2 {
            padding-bottom: 1.5rem
        }

        .map {
            padding-bottom: 1.5rem;

            img {
                width: 50rem;
            }
        }


        h3 {
            font-size: 1.9rem;
        }

        p {
            font-size: 1.8rem;
        }
    }

    footer {
        font-size: 1.7rem;
        padding: 2.5rem;

        .social-media {
            width: 100%;
            @include flexCenter(row, space-between, flex-start);

            a {
                i {
                    font-size: 4rem;
                    padding: 0 1rem;
                }
            }

            padding-bottom: 1rem;
        }

        .mail-info {
            a {
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 920px) {
    article {
        padding: 5rem;
        gap: 5rem;

        img {
            min-width: 62rem;
        }

        .impact-section {
            gap: 3rem;

            h1 {
                font-size: 4.8rem;
            }

            p {
                font-size: 2.4rem;
            }

            button {
                a {

                    font-size: 2.2rem;
                }
            }
        }
    }

    .gallery {
        .gallery-images {
            img {
                width: 28rem;
                height: 30rem;
            }
        }
    }
}